<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>Hi</h1>
            <form action="/" method="POST">
                <input name="city" type="text" placeholder="Enter your City">
                <button type="submit">Submit</button>
            </form>
        </div>
        {{>footer}}
    </body>
</html>