<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/styles.css">
    </head>
    <body>
        <div class="main-content">
            <h1>Weather at {{name}}</h1>
            <ul>
                <li>Observed at: {{time}}</li>
                <li>Temperature: {{temp}}</li>
                <li>Humidity: {{humidity}}</li>
            </ul>
        </div>
        {{>footer}}
    </body>
</html>